.markdown-body h1 {
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
}

.markdown-body h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 0.3em;
}

.markdown-body h3 {
    font-size: 1.25em;
}

.markdown-body h4 {
    font-size: 1em;
}

.markdown-body h5 {
    font-size: 0.875em;
}

.markdown-body h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 2em;
}

.markdown-body ul {
    list-style-type: disc;
}

.markdown-body ol {
    list-style-type: decimal;
}

.markdown-body li + li {
    margin-top: 0.25em;
}

.markdown-body code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0);
    border-radius: 3px;
}

.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

/* DARK */

.dark .markdown-body h1 {
    font-size: 2em;
    border-bottom: 1px solid #444c56;
    padding-bottom: 0.3em;
    color: #cdd9e5;
}

.dark .markdown-body h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #444c56;
    padding-bottom: 0.3em;
    color: #cdd9e5;
}

.dark .markdown-body h3 {
    font-size: 1.25em;
    color: #cdd9e5;
}

.dark .markdown-body h4 {
    font-size: 1em;
    color: #cdd9e5;
}

.dark .markdown-body h5 {
    font-size: 0.875em;
    color: #cdd9e5;
}

.dark .markdown-body h6 {
    font-size: 0.85em;
    color: #768390;
}

.dark .markdown-body ul,
.dark .markdown-body ol {
    padding-left: 2em;
}

.dark .markdown-body ul {
    list-style-type: disc;
}

.dark .markdown-body ol {
    list-style-type: decimal;
}

.dark .markdown-body li + li {
    margin-top: 0.25em;
}

.dark .markdown-body code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    color: #e1e4e8;
}

.dark .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #2d333b;
    border-radius: 3px;
    color: #e1e4e8;
}
